//
   ///////////////////////////////////////////////////////////////////////////////////
   ///                                                                             ///
   ///                                                                             ///
   ///                                                                             ///
   ///                                                                             ///
   ///   Project by:                                                               ///
   ///    _      _____ ______    _____ ____  __  __ _____        _   ___     __    ///
   ///   | |    / ____|  ____|  / ____/ __ \|  \/  |  __ \ /\   | \ | \ \   / /    ///
   ///   | |   | |    | |__    | |   | |  | | \  / | |__) /  \  |  \| |\ \_/ /     ///
   ///   | |   | |    |  __|   | |   | |  | | |\/| |  ___/ /\ \ | . ` | \   /      ///
   ///   | |___| |____| |      | |___| |__| | |  | | |  / ____ \| |\  |  | |       ///
   ///   |______\_____|_|       \_____\____/|_|  |_|_| /_/    \_\_| \_|  |_|       ///
   ///   Assessoria em tecnologia e marketing.                                     ///
   ///                                                                             ///
   ///                                                                             ///
   ///                                                                             ///
   ///                                                                             ///
   ///////////////////////////////////////////////////////////////////////////////////
   ///                                                                             ///
   /// [PROJECT]: Name: labsine - Laboratório de Sistemas Inteligentes.            ///
   ///            URL:  www.labsine.ufla.br                                        ///
   ///            GIT:  <Link não disponivel. GIT server privado>                  ///
   /// +-------------------------------------------------------------------------+ ///
   ///                                                                             ///
   /// [DEVELOPMENT]:  Code Developer:   Lucas Fonseca dos Santos.                 ///
   ///                 System Developer: Lucas Fonseca dos Santos.                 ///
   ///                 Design Creater:   Lucas Fonseca dos Santos.                 ///
   ///                 Tester:           Lucas Fonseca dos Santos.                 ///
   /// +-------------------------------------------------------------------------+ ///
   ///                                                                             ///
   /// [INFORMATIONS]: Fonts:  Raleway, 900, 400, 800, 100, 200, 300, 600          ///
   ///                         Open Sans, 400, 800, 800Italic, 700, 300, 600       ///
   ///                 Colors: #000000                                             ///
   ///                         #000000                                             ///
   ///                         #000000                                             ///
   ///                         #000000                                             ///
   /// +-------------------------------------------------------------------------+ ///
   ///                                                                             ///
   ///   Use .content to write class .container by bootstrap and .line to write    ///
   ///   .row class by bootstrap.                                                  ///
   ///                                                                             ///
   ///   Use mixin grid_system() with the params: LG value, MD value, SM value,    ///
   ///   XS value in respective order to extend grid system of bootstrap.          ///
   ///                                                                             ///
   ///////////////////////////////////////////////////////////////////////////////////
//


html
   head
      //---------------------------[IMPORTS]---------------------------//
      link(rel="stylesheet", href="ext/css/style.css")
      meta(charset="utf-8")
      //---------------------------------------------------------------//
   body
      header#particles-js
         include ../include/header.pug
      main
         section#index01
            div.subIndex01
               img(src="img/index01/mind.svg")
            div.subIndex01
               div
                  h1 Então... o que nós fazemos no <strong>labsine</strong>?
                  p O Laboratório de Sistemas Inteligentes e Embarcados (LABSINE) tem por função o desenvolvimento de pesquisas na área de Inteligência Computacional e a aplicação da técnica na solução de problemas em todas as áreas de conhecimento utilizando Sistemas Embarcados.
         section#indexVish
            div.subIndexVish
               div
                  p São estudadas e desenvolvidas pesquisas com heurísticas (redes neurais artificiais, lógica fuzzy, computação evolutiva, etc) e métodos híbridos para aplicações em aprendizado de máquina, sistemas multiagentes, visão computacional, robótica, mineração de dados e várias outras. Para o desenvolvimento do Sistemas Embarcados, a pesquisa engloba desde a especificação, validação, verificação até o projeto e teste desse tipo de sistema. Faz parte da pesquisa a avaliação do desempenho de sistemas SOC (System On Chip) e o estudo de Arquiteturas Reconfiguráveis usando FPGA (Field Programmable Gate Array). São pesquisados também métodos de computação de alto desempenho utilizando processadores digitais de sinais (DSP - Digital Signal Processing), microcontroladores dedicados, e GPUs.
            div.subIndexVish
               img(src="img/chip.svg")
         section#index02
            div.line
               div.subIndex02
                  div.projectCell
                     div.avatarProject.project_01
                     div.informations
                        h3.white Nome completo do fulando ciclan
                     button.white conheća mais...
               div.subIndex02
                  div.projectCell
                     div.avatarProject.project_01
                     div.informations
                        h3.white Nome completo do fulando ciclan
                        button.white conheća mais...
               div.subIndex02
                  div.projectCell
                     div.avatarProject.project_01
                     div.informations
                        h3.white Nome completo do fulando ciclan
                        button.white conheća mais...
               div.subIndex02
                  div.projectCell
                     div.avatarProject.project_01
                     div.informations
                        h3.white Nome completo do fulando ciclan
                        button.white conheća mais...
               div.subIndex02
                  div.projectCell
                     div.avatarProject.project_01
                     div.informations
                        h3.white Nome completo do fulando ciclan
                        button.white conheća mais...
               div.subIndex02
                  div.projectCell
                     div.avatarProject.project_01
                     div.informations
                        h3.white Nome completo do fulando ciclan
                        button.white conheća mais...
               div.subIndex02
                  div.projectCell
                     div.avatarProject.project_01
                     div.informations
                        h3.white Nome completo do fulando ciclan
                        button.white conheća mais...
               div.subIndex02
                  div.projectCell
                     div.avatarProject.project_01
                     div.informations
                        h3.white Nome completo do fulando ciclan
                        button.white conheća mais...
               
         section#index03
            div.titleSection
               h1.white quem somos <strong>nós</strong>?
            div.line
               div.subIndex03
                  div.bioCard
                     div.avatar
                     h3 vancley simão fulano
                     p cargo de safado
                     div.line
                        div.socialIcon
                        div.socialIcon
                        div.socialIcon
               div.subIndex03
                  div.bioCard
                     div.avatar
                     h3 lixo da silva sauro de abulquerque
                     p cargo de safado
                     div.line
                        div.socialIcon
                        div.socialIcon
                        div.socialIcon
               div.subIndex03
                  div.bioCard
                     div.avatar
                     h3 chatumbeiro constantino lopez maxuel
                     p cargo de safado
                     div.line
                        div.socialIcon
                        div.socialIcon
                        div.socialIcon
               div.subIndex03
                  div.bioCard
                     div.avatar
                     h3 Ali mohamed al amadd
                     p cargo de safado
                     div.line
                        div.socialIcon
                        div.socialIcon
                        div.socialIcon
               div.subIndex03
                  div.bioCard
                     div.avatar
                     h3 fumado heliorte santos pereira
                     p cargo de safado
                     div.line
                        div.socialIcon
                        div.socialIcon
                        div.socialIcon
               div.subIndex03
                  div.bioCard
                     div.avatar
                     h3 chumbado jose da silva
                     p cargo de safado
                     div.line
                        div.socialIcon
                        div.socialIcon
                        div.socialIcon
               div.subIndex03
                  div.bioCard
                     div.avatar
                     h3 lixo lixo da silva
                     p cargo de safado
                     div.line
                        div.socialIcon
                        div.socialIcon
                        div.socialIcon
               div.subIndex03
                  div.bioCard
                     div.avatar
                     h3 sentador de banana pereira
                     p cargo de safado
                     div.line
                        div.socialIcon
                        div.socialIcon
                        div.socialIcon
      footer
         include ../include/footer.pug
      section.copyright
         p Desenvolvido pela LCF COMPANY.
         
   script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
   script(src="http://code.jquery.com/ui/1.9.2/jquery-ui.js")
   script
      | var count_particles, stats, update;
      | stats = new Stats;
      | stats.setMode(0);
      | stats.domElement.style.position = 'absolute';
      | stats.domElement.style.left = '0px';
      | stats.domElement.style.top = '0px';
      | document.body.appendChild(stats.domElement);+++++
      |  count_particles = document.querySelector('.js-count-particles');
      | update = function() {
      |    stats.begin();
      |    stats.end();
      |    if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
      |       count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
      |    }
      |    equestAnimationFrame(update);
      | };
      | requestAnimationFrame(update);
   //script
      | $(function() {
      |     $(window).on("scroll", function() {
      |         if($(window).scrollTop() > 1000) {
      |            $(".firstMenu").addClass("menuSecond");
      |                  $(".logo").attr("src", "#");
      |          }else{
      |               $(".menuSecond").removeClass("firstMenu");
      |               $(".logo").attr("src", "#");
      |            }
      |     });
      | });
   script(src="ext/js/main.js")
   script(src="ext/particles.js-master/particles.js")
   script(src="ext/particles.js-master/demo/js/app.js")
   script(src="ext/particles.js-master/demo/js/lib/stats.js")
