//
   ///////////////////////////////////////////////////////////////////////////////////
   ///                                                                             ///
   ///                                                                             ///
   ///                                                                             ///
   ///                                                                             ///
   ///   Project by:                                                               ///
   ///    _      _____ ______    _____ ____  __  __ _____        _   ___     __    ///
   ///   | |    / ____|  ____|  / ____/ __ \|  \/  |  __ \ /\   | \ | \ \   / /    ///
   ///   | |   | |    | |__    | |   | |  | | \  / | |__) /  \  |  \| |\ \_/ /     ///
   ///   | |   | |    |  __|   | |   | |  | | |\/| |  ___/ /\ \ | . ` | \   /      ///
   ///   | |___| |____| |      | |___| |__| | |  | | |  / ____ \| |\  |  | |       ///
   ///   |______\_____|_|       \_____\____/|_|  |_|_| /_/    \_\_| \_|  |_|       ///
   ///   Assessoria em tecnologia e marketing.                                     ///
   ///                                                                             ///
   ///                                                                             ///
   ///                                                                             ///
   ///                                                                             ///
   ///////////////////////////////////////////////////////////////////////////////////
   ///                                                                             ///
   /// [PROJECT]: Name: labsine - Laboratório de Sistemas Inteligentes.            ///
   ///            URL:  www.labsine.ufla.br                                        ///
   ///            GIT:  <Link não disponivel. GIT server privado>                  ///
   /// +-------------------------------------------------------------------------+ ///
   ///                                                                             ///
   /// [DEVELOPMENT]:  Code Developer:   Lucas Fonseca dos Santos.                 ///
   ///                 System Developer: Lucas Fonseca dos Santos.                 ///
   ///                 Design Creater:   Lucas Fonseca dos Santos.                 ///
   ///                 Tester:           Lucas Fonseca dos Santos.                 ///
   /// +-------------------------------------------------------------------------+ ///
   ///                                                                             ///
   /// [INFORMATIONS]: Fonts:  Raleway, 900, 400, 800, 100, 200, 300, 600          ///
   ///                         Open Sans, 400, 800, 800Italic, 700, 300, 600       ///
   ///                 Colors: #000000                                             ///
   ///                         #000000                                             ///
   ///                         #000000                                             ///
   ///                         #000000                                             ///
   /// +-------------------------------------------------------------------------+ ///
   ///                                                                             ///
   ///   Use .content to write class .container by bootstrap and .line to write    ///
   ///   .row class by bootstrap.                                                  ///
   ///                                                                             ///
   ///   Use mixin grid_system() with the params: LG value, MD value, SM value,    ///
   ///   XS value in respective order to extend grid system of bootstrap.          ///
   ///                                                                             ///
   ///////////////////////////////////////////////////////////////////////////////////
//


html
   head
      //----------------------------[METAS]----------------------------//
      title LABSINE - Laboratório de Sistemas Inteligentes e Embarcados
      meta(name="keywords" content="LABSINE, inteligencia artificial, ufla, lavras")
      meta(http-equiv="content-type" content="text/html; charset=UTF-8")
      meta(name="robot" content="index")
      meta(name="googlebot" content="index")
      meta(name="google" content="nositelinkssearchbox")
      meta(name="author" content="LCF COMPANY - Ribeirão Preto")
      meta(name="")
      meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
      meta(name="revisit-after" content="7 days")
      meta(name="copyright" content="LCF COMPANY")
      meta(name="rating" content="general")
      meta(name="distribution" content="global")
      meta(name="language" content="pt")
      meta(http-equiv="content-language" content="pt-br")
      meta(name="MobileOptimized" content="320")
      meta(http-equiv="imagetoolbar" content="no")
      meta(http-equiv="content-script-type" content="text/javascript")
      meta(http-equiv="content-style-type" content="text/css")
      meta(name="DC.title" content="LABSINE")
      meta(name="DC.creator" content="LCF COMPANY")
      meta(name="DC.creator.address" content="http://lucas.lcfcompany.com.br/")
      meta(name="DC.description" content="Empresa de desenvolvimento de websites e sistemas web para o seu negócio.")
      meta(name="DC.publisher" content="LCF COMPANY")
      meta(name="DC.format" content="text/html")
      meta(itemprop="name" content="LABSINE")
      meta(itemprop="description" content="")
      meta(itemprop="image" content="")
      meta(name="theme-color" content="#1D2671")
      //---------------------------------------------------------------//
      //---------------------------[IMPORTS]---------------------------//
      link(rel="stylesheet", href="ext/css/style.css")
      meta(charset="utf-8")
      //---------------------------------------------------------------//
   body
      div#header
      header#particles-js
         include ../include/header.pug
      main
         section#index01.section
            div.subIndex01
               img(src="img/index01/mind.svg")
            div.subIndex01
               div
                  h1 Então... o que nós fazemos no <strong>labsine</strong>?
                  p O Laboratório de Sistemas Inteligentes e Embarcados (LABSINE) tem por função o desenvolvimento de pesquisas na área de Inteligência Computacional e a aplicação da técnica na solução de problemas em todas as áreas de conhecimento utilizando Sistemas Embarcados.
         section#indexVish
            div.subIndexVish
               div
                  p São estudadas e desenvolvidas pesquisas com heurísticas (redes neurais artificiais, lógica fuzzy, computação evolutiva, etc) e métodos híbridos para aplicações em aprendizado de máquina, sistemas multiagentes, visão computacional, robótica, mineração de dados e várias outras. Para o desenvolvimento do Sistemas Embarcados, a pesquisa engloba desde a especificação, validação, verificação até o projeto e teste desse tipo de sistema. Faz parte da pesquisa a avaliação do desempenho de sistemas SOC (System On Chip) e o estudo de Arquiteturas Reconfiguráveis usando FPGA (Field Programmable Gate Array). São pesquisados também métodos de computação de alto desempenho utilizando processadores digitais de sinais (DSP - Digital Signal Processing), microcontroladores dedicados, e GPUs.
            div.subIndexVish
               img(src="img/chip.svg")
         section#index02
            div.line
               div.subIndex02
                  div.projectCell
                     div.avatarProject.project_01
                     div.informations
                        h3.white Nome completo do fulando ciclan
                        button.white.invertColor conheça mais...
               div.subIndex02
                  div.projectCell
                     div.avatarProject.project_02
                     div.informations
                        h3.white Nome completo do fulando ciclan
                        button.white.invertColor conheça mais...
               div.subIndex02
                  div.projectCell
                     div.avatarProject.project_03
                     div.informations
                        h3.white Nome completo do fulando ciclan
                        button.white.invertColor conheça mais...
               div.subIndex02
                  div.projectCell
                     div.avatarProject.project_04
                     div.informations
                        h3.white Nome completo do fulando ciclan
                        button.white.invertColor conheça mais...
               div.subIndex02
                  div.projectCell
                     div.avatarProject.project_05
                     div.informations
                        h3.white Nome completo do fulando ciclan
                        button.white.invertColor conheça mais...
               div.subIndex02
                  div.projectCell
                     div.avatarProject.project_06
                     div.informations
                        h3.white Nome completo do fulando ciclansadasdasda
                        button.white.invertColor conheça mais...
               div.subIndex02
                  div.projectCell
                     div.avatarProject.project_07
                     div.informations
                        h3.white Nome completo do fulando ciclan
                        button.white.invertColor conheça mais...
               div.subIndex02
                  div.projectCell
                     div.avatarProject.project_08
                     div.informations
                        h3.white Nome completo do fulando ciclan
                        button.white.invertColor conheça mais...
               
         section#index03
            div.titleSection
               h1.white quem somos <strong>nós</strong>?
            div.line
               div.subIndex03
                  div.bioCard
                     div.avatar.bio-aux
                     h3 vancley Oliveira Simão
                     p  
                        strong Mestrado - 
                        | Mestrando em Ciência da Computação na Universidade Federal de Lavras (UFLA).
                     div.line
                        div.socialIcon
                        div.socialIcon
                        div.socialIcon
               div.subIndex03
                  div.bioCard
                     div.avatar.bio-joao
                     h3 João Paulo Fernandes de Cerqueira César
                     p 
                        strong Mestrado - 
                        | Mestrando em Ciência da Computação na Universidade Federal de Lavras (UFLA).
                     div.line
                        div.socialIcon
                        div.socialIcon
                        div.socialIcon
               div.subIndex03
                  div.bioCard
                     div.avatar.bio-heitor
                     h3 Heitor Scalco Neto
                     p 
                        strong Mestrado - 
                        | Mestre em Ciência da Computação pela Universidade Federal de Lavras (UFLA).
                     div.line
                        div.socialIcon
                        div.socialIcon
                        div.socialIcon
               div.subIndex03
                  div.bioCard
                     div.avatar.bio-william
                     h3 Wilian Soares Lacerda
                     p 
                        strong Coordenação 
                        | - Professor associado da Universidade Federal de Lavras (UFLA)(DCC).
                     div.line
                        div.socialIcon
                        div.socialIcon
                        div.socialIcon
               div.subIndex03
                  div.bioCard
                     div.avatar.bio-rodrigo
                     h3 Rodrigo Botelho de Lima
                     p 
                        strong Mestrado - 
                        | Mestrando em Engenharia de Sistemas e Automação na UFLA.
                     div.line
                        div.socialIcon
                        div.socialIcon
                        div.socialIcon
               div.subIndex03
                  div.bioCard
                     div.avatar.bio-celso
                     h3 Celso de Ávila Ramos
                     p
                        strong Mestrado -  
                        | Mestrando em Engenharia de Sistemas e Automação na UFLA.
                     div.line
                        div.socialIcon
                        div.socialIcon
                        div.socialIcon
               div.subIndex03
                  div.bioCard
                     div.avatar.bio-andrey
                     h3 Andrey Gustavo de Souza
                     p 
                        strong Mestrado - 
                        | Mestrando em Engenharia de Sistemas e Automação na UFLA.
                     div.line
                        div.socialIcon
                        div.socialIcon
                        div.socialIcon
               div.subIndex03
                  div.bioCard
                     div.avatar.bio-bianca
                     h3 Bianca Isabela Bueno Laine
                     p
                        strong Graduação - 
                        | Graduanda em Ciência da Computação pela Universidade Federal de Lavras (UFLA).
                     div.line
                        div.socialIcon
                        div.socialIcon
                        div.socialIcon
               div.subIndex03
                  div.bioCard
                     div.avatar.bio-francisco
                     h3 Francisco Machado Magalhães Neto
                     p 
                        strong Graduação - 
                        | Graduando em Ciência da Computação pela Universidade Federal de Lavras (UFLA).
                     div.line
                        div.socialIcon
                        div.socialIcon
                        div.socialIcon
               div.subIndex03
                  div.bioCard
                     div.avatar.aux2
                     h3 Jhonatan Rodrigues
                     p
                        strong Graduação -  
                        | Graduando em Ciência da Computação pela Universidade Federal de Lavras (UFLA).
                     div.line
                        div.socialIcon
                        div.socialIcon
                        div.socialIcon
               div.subIndex03
                  div.bioCard
                     div.avatar.bio-renan
                     h3 Renan Caetano de Pádua
                     p 
                        strong Graduação -  
                        | Graduando em Ciência da Computação pela Universidade Federal de Lavras (UFLA).
                     div.line
                        div.socialIcon
                        div.socialIcon
                        div.socialIcon
               div.subIndex03
                  div.bioCard
                     div.avatar.bio-victor
                     h3 Victor Grudtner Boell
                     p
                        strong Graduação -  
                        | Graduando em Ciência da Computação pela Universidade Federal de Lavras (UFLA).
                     div.line
                        div.socialIcon
                        div.socialIcon
                        div.socialIcon
      footer#footer
         include ../include/footer.pug
      section.copyright
         p Desenvolvido por 
            a(href="http://lucas.lcfcompany.com.br").white Lucas Fonseca dos Santos
   script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
   script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
   script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
   script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
   script(src="http://code.jquery.com/ui/1.9.2/jquery-ui.js")
   script
      | var count_particles, stats, update;
      | stats = new Stats;
      | stats.setMode(0);
      | stats.domElement.style.position = 'absolute';
      | stats.domElement.style.left = '0px';
      | stats.domElement.style.top = '0px';
      | document.body.appendChild(stats.domElement);+++++
      |  count_particles = document.querySelector('.js-count-particles');
      | update = function() {
      |    stats.begin();
      |    stats.end();
      |    if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
      |       count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
      |    }
      |    equestAnimationFrame(update);
      | };
      | requestAnimationFrame(update);
   //script
      | $(function() {
      |     $(window).on("scroll", function() {
      |         if($(window).scrollTop() > 1000) {
      |            $(".firstMenu").addClass("menuSecond");
      |                  $(".logo").attr("src", "#");
      |          }else{
      |               $(".menuSecond").removeClass("firstMenu");
      |               $(".logo").attr("src", "#");
      |            }
      |     });
      | });
   script(src="ext/js/main.js")
   script(src="ext/particles.js-master/particles.js")
   script(src="ext/particles.js-master/demo/js/app.js")
   script(src="ext/particles.js-master/demo/js/lib/stats.js")
   script
      | $('a[href*="#"]')
      | // Remove links that don't actually link to anything
      | .not('[href="#"]')
      | .not('[href="#0"]')
      | .click(function(event) {
      | // On-page links
      | if (
      | location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
      | && 
      | location.hostname == this.hostname
      | ) {
      | // Figure out element to scroll to
      | var target = $(this.hash);
      | target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      | // Does a scroll target exist?
      | if (target.length) {
      |   // Only prevent default if animation is actually gonna happen
      |   event.preventDefault();
      |   $('html, body').animate({
      |     scrollTop: target.offset().top
      |   }, 1000, function() {
      |     // Callback after animation
      |     // Must change focus!
      |     var $target = $(target);
      |     $target.focus();
      |     if ($target.is(":focus")) { // Checking if the target was focused
      |       return false;
      |     } else {
      |       $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
      |       $target.focus(); // Set focus again
      |     };
      |   });
      |  }
      | }
      |});